<h1 class="centered-text">3 DAY WEATHER FORECAST</h1>

<div class="days-container">

  <div class="card">
    <div>Day name</div>
    <div>Weather icon</div>
    <div>Max temperature</div>
    <div>Min temperature</div>
    <div>Chance of rain (%)</div>
  </div>

  <div class="card">
    <div>Day name</div>
    <div>Weather icon</div>
    <div>Max temperature</div>
    <div>Min temperature</div>
    <div>Chance of rain (%)</div>
  </div>

  <div class="card">
    <div>Day name</div>
    <div>Weather icon</div>
    <div>Max temperature</div>
    <div>Min temperature</div>
    <div>Chance of rain (%)</div>
  </div>

</div>
